body.contentcontact-background {
    background-color: #E6E6FA; /* Light purple background color */
}

.headcontent {
    color: #662d91;
    font-size: 3rem; 
    font-weight: bold; 
}

.containercontent {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    color: #333;
}

.form-group {
    margin-bottom: 1.5rem;
}

textarea.form-control {
    height: 100px;
}