.footer {
    background-color: #282C35;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

.footer h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    /* text-align: center; */
}

.footer .footer-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footer .footer-icon:hover {
    opacity: 0.8;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

/* Link hover effect */
.footer .nav-link,
.footer ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff; /* Ensure the text color is white */
}

.footer .nav-link::after,
.footer ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 50%;
    background: #ffc107;
    transition: width 0.4s ease, right 0.4s ease;
    -webkit-transition: width 0.4s ease, right 0.4s ease;
}

.footer .nav-link:hover::after,
.footer ul li a:hover::after {
    width: 100%;
    right: 0;
    background:#ffc107;
}

@media (max-width: 768px) {
    .footer .col-md-4 {
        margin-bottom: 10px;
    }
}

.custom-margin {
    margin-bottom: 10px; /* Adjust the value as needed */
}
