.testimonial-card {
    background: var(--color-gradient);
    border-right: 10px solid #ffc107; /* Border only on the right side */
    border-radius: 7%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    width: 90%; /* Increase the width of the card */
    margin: 0 auto; /* Center the card */
}

.testimonial-card:hover {
    transform: translateY(-10px);
}

.testimonial-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.testimonial-quote-icon {
    font-size: 24px; /* Adjust size as needed */
    color: #ffc107; /* Adjust color as needed */
    margin-left: 10px; /* Adjust spacing as needed */
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}
